@import 'config'

body
  font-size: 14px
  
#page1
  @include page(red, false)
  color: contrast($cyan)
  background-position: top left
  background-repeat: no-repeat
  background-size: cover

nav
  @include fontSettings('Raleway')
  position: fixed
  height: 50px

  ul
    display: table
    width: 100vw
    height: 50px
    min-width: 100vw

    background: rgba(0, 0, 0, .3)
    color: rgb(255, 255, 255)

    list-style-type: none

    margin: 0
    padding: 0

    li
      float: right

      a
        @include transition(.3s)
        @include link(white)

        &:hover
          text-decoration: none
          background: white
          color: black
      ul
        background: rgb(222, 79, 79)
        color: #000

        position: absolute
        left: 0px
        top: 60px
        width: 150px
        height: 400px

      li
        float: left
        padding: 5px
        display: block

// ul.sub-menu
//   display: none

#git
  position: absolute
  background: rgba(255, 255, 255, .6)
  bottom: 0px
  @include handle(5vh)

  .icon_social
    @include transition(.3s)
    margin: 5px
    font-size: 2em
    cursor: pointer !important
    color: black
    &:hover, &:active, &:link
      text-decoration: none
    &:hover
      color: #fff

.socicon
  font-size: 0.85em
